body {
	font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
	font-size: 1vw;
	background: black;
	color: #f0f0f0;
	padding: 25px;
	overflow-x: hidden;
	cursor: none;
}

#clear {
	clear: both;
	height: 1px;
}

#header {
	padding-bottom: 0.5em;
	height: 5vw;
}

#stationname {
	font-size: 5em;
}

#wx {
	float: right;
	text-align: right;
	font-size: 2.5vw;
}

#bikeindicator {
	float: right;
	background-color: #999999;
	margin-right: 14vw;
}

#bikeindicator.true {
	background-color: #009900;
}
#bikeindicator.false {
	background-color: #990000;
}

#bikeindicator img {
	height: 4vw;
	padding: 0.5vw;
}

table {
	width: 100%;
	font-size: 6vw;
}

.lineHead	{width: 13.5%;}
.carHead	{width: 18%;}
.destHead	{width: auto;}
.timeHead	{width: 15%;}

.dest {
	font-size: 5vw;
	white-space: nowrap;
}

td:not(:first-child) {
	padding-left: 0.8vw;
}

td:not(:last-child) {
	padding-right: 0.8vw;
}

td:last-child {
	padding-right: 0.4vw;
}

#incidentcontainer {
	position: absolute;
	left: 0;
	bottom: 1vw;
	width: 80%;
	margin-right: 2%;
}

#lines {
	float: left;
	height: 5.25vw;
	padding-right: 1vw;
	font-size: 10vw;
	line-height: 5vw;
	letter-spacing: -0.5vw;
}

#incidents {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 4.5vw;
	position: relative;
	overflow: hidden;
	height: 5.25vw;
}

#incidents li {
	position: absolute;
	top: -999em;
	left: 0;
	display: block;
	white-space: nowrap;
	padding-top: 0.25vw;
	font-size: 4.5vw;
}

#incidents li .lines {
	display: none;
}

#clock {
	position: absolute;
	right: 0;
	bottom: 1vw;
	width: 18%;
	font-size: 3.5vw;
}

.flash {
	color: red;
	-webkit-animation-duration: 2s;
	-webkit-animation-name: fader;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-duration: 2s;
	-moz-animation-name: fader;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;

}

@-webkit-keyframes fader {
	from {
		opacity: 1.0;
	}
	
	70% {
		opacity: 1.0;
	}

	to {
		opacity: 0.6;
	}
}

@-moz-keyframes fader {
	from {
		opacity: 1.0;
	}
	
	70% {
		opacity: 1.0;
	}

	to {
		opacity: 0.6;
	}
}

.gr {
	color: #16aa50; /*Original: #009d57; Icon: #00b75d; Map: #16aa50*/
}

.rd {
	color: #e41c38; /*Original: #e94333; Icon: #f84035; Map: #e41c38*/
}

.bl {
	color: #0977bc; /*Original: #0d7bba; Icon: #0088dd; Map: #0977bc*/
}

.or {
	color: #f59322; /*Original: #f89038; Icon: #fca93b; Map: #f59322*/
}

.yl {
	color: #fdd305; /*Original: #fde310; Icon: #fff01d; Map: #fdd305*/
}

.sv {
	color: #a4b3ab; /*Original: NA; Icon: NA; Map: #a4b3ab*/
}
